/* div {
    background-color: blueviolet;
} */

/* css selector */

/* id, class */

#content-1{
    background-color:rgb(red, green, blue);
    font-size: 100px;
}

/* .random{
    background-color: cadetblue;
    font-size: 200px;
    font-weight: bold;
} */

.parents .child {
    background-color:rgba;
    front size: 50px;
}


/* background */

/* list */
/* list-style */

/* box-modal, padding, margin, box-sizing, border-box, content-box */
